@import "bootstrap/bootstrap.less";

@import "bootstrap/responsive.less";

@font-face{ 
  font-family: 'WebSymbolsRegular';
  src: url('../fonts/websymbols/websymbols-regular-webfont.eot');
  src: url('../fonts/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/websymbols/websymbols-regular-webfont.woff') format('woff'),
       url('../fonts/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
       url('../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}

@font-face {
    font-family: 'ProvaRegular';
    src: url('../fonts/prova/prova-webfont.eot');
    src: url('../fonts/prova/prova-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prova/prova-webfont.woff') format('woff'),
         url('../fonts/prova/prova-webfont.ttf') format('truetype'),
         url('../fonts/prova/prova-webfont.svg#ProvaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ===== Primary Styles ========================================================
   Author: @mcsheffrey
   ========================================================================== */

   /* v1.0.2 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
	width: 600px;
	height: 400px;
	position: relative;
	direction: ltr;
}

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0); 
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
	-webkit-transform: none;
}
.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsThumb {
	float: left;
	position: relative;
}

.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	-o-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}
.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}


.rsGCaption {
	width: 100%;
	float: left;
	text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}

.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	
	height: 100%;
	width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}

.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
}

.rsPreloader {
	position:absolute;
	z-index: 0;	
}

.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}
.rsTabs {
	float: left;
}
.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}


.rsVideoContainer {
	/*left: 0;
	top: 0;
	position: absolute;*/
	/*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
	width: auto;
	height: auto;
	line-height: 0;
	position: relative;
}
.rsVideoFrameHolder {
	position: absolute;
	left: 0;
	top: 0;
	background: #141414;
	opacity: 0;
	-webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
	opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 44px;
}

.rsABlock {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 15;
	-webkit-backface-visibility: hidden;
}

.grab-cursor {
	cursor:url(grab.png) 8 8, move; 
}

.grabbing-cursor{ 
	cursor:url(grabbing.png) 8 8, move;
}

.rsNoDrag {
	cursor: auto;
}

.rsLink {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	display:block;	
	z-index: 20;
	background: url(blank.gif);
	-webkit-backface-visibility: hidden;
}


body {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	padding-top: 0;
}

p {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

* {
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
}

.sliderContainer {
	background: #07112f; /* Old browsers */
	background: -moz-linear-gradient(top, #07112f 0%, #00001a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#07112f), color-stop(100%,#00001a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #07112f 0%,#00001a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #07112f 0%,#00001a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #07112f 0%,#00001a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #07112f 0%,#00001a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07112f', endColorstr='#00001a',GradientType=0 ); /* IE6-9 */
}

#header {
	height: 150px;
	padding-top: 60px;

	#logo {
		display: inline-block;
		float: left;

		a {
			background: url(../img/connormcsheffrey.png);
			font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
			height: 100px;
			width: 100px;
		}
	}

	nav {
		float: right;
		margin: 40px 0 0 0;

		ul {
			list-style: none;

			li {
				float: left;
				margin: 0 20px 0 0;
				padding: 0 20px 0 0;
				position: relative;

				a {
					color: #353535;
					font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
					font-size: 2em;
					font-weight: 200;
				}

				a:hover {
					text-decoration: line-through;
				}
			}

			li:first-child:after {
				border-right: 1px solid #d6d6d6;
				content: "";
				display: block;
				height: 50px;
				font-size: 36px;
				margin: 0 0 20px 0;
				-webkit-transform: rotate(25deg);
				   -moz-transform: rotate(25deg);
				    -ms-transform: rotate(25deg);
				     -o-transform: rotate(25deg);
				        transform: rotate(25deg);
				position: absolute;
				right: 0;
				top: -15px;
			}

			li:last-child {
				margin: 0;
				padding: 0;
			}
		}
	}
}


#about {
	min-height: 0;
	text-align: center;
}

#about img {
	
	width: 100%;
}

#about h2, 
#about h3 {
	color: #fff;
	position: absolute;
	left: 50%;
	z-index: 9999;
	-webkit-animation: headlineEase 1s;
-moz-animation: headlineEase 1s;
-ms-animation: headlineEase 1s;
-o-animation: headlineEase 1s;
animation: headlineEase 1s;
}

#about h2 {
	font-size: 3em;
	top: 50%;
	text-transform: uppercase;
}

// #about h2:before {
// 	content: ' ';
// 	display: block;
// 	width: 304px;
// 	margin: 0 auto 20px;
// 	height: 5px;
// 	background: white;
// }

#about h3 {
	font-weight: 200;
	top: 60%;
}

.page-header h1 {
	display: inline-block;
}

#twitter {
	border: 1px solid #d6d6d6;
	-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	height: 100px;
	margin: 5% 0;
	padding: 20px 15% 20px 20px;
	position: relative;

	ul {
		list-style: none;

		li {
			color: rgba(0,0,0,.2);
			font-size: 1.35em;
			font-family: Georgia, serif;
			font-style: italic;
			line-height: 1.5em;
			a {
				color: rgba(0,0,0,.2);
			}
		}
	}
}

#twitter:after {
	color: rgba(0,0,0,.2);
	content: "t";
	font-family: 'WebSymbolsRegular';
	font-size: 72px;
	position: absolute;
	right: 5%;
	top: 40%;
}

#twitter:hover {
	border: 1px solid rgba(51, 204, 255, 0.3);

	li {
		color: #33CCFF;

		a {
			color: #33CCFF;
		}
	}
}

#twitter:hover:after {
	color: #33CCFF;
}

.footer {
	background: #000;
	padding: 1em;
	width: 100%;

	h2, h3 {
		color: #666;
	}

	p {
		color: #666;
		margin: 0;
	}
}

.hero {
	display: block;
	margin: 25px 0;
	min-height: 600px;
	position: relative;
	overflow: hidden;
	width: 100%;

	.scrolling-bg {
		position: absolute;
		z-index: 100;
	}

	ul {
		height: 100%;
		list-style: none;
		margin: 0;
		position: absolute;
		        	transform: translate3d(0,0,0);
	    -webkit-transform: translate3d(0,0,0);
	       -moz-transform: translate3d(0,0,0);
		width: 100%;
		z-index: 101;

		li {
			display: block !important;
			height: 100%;
			margin: 25px;
			position: relative;
			opacity: 0;
			width: 940px;
					-webkit-transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					   -moz-transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					    -ms-transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					     -o-transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					        transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
					-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					    -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */

			img {
					-webkit-transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					   -moz-transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					    -ms-transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					     -o-transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					        transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
					-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					    -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
					        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
			}
		}
	}
}

#bioonc-1-2 {
	top: 29%;
		        		transform: translate3d(50%,0,0);
		    -webkit-transform: translate3d(50%,0,0);
		       -moz-transform: translate3d(50%,0,0);
	left: 80%;
}

.hero ul li.active {

	opacity: 1;

	img {
			        	transform: translate3d(0,0,0) !important;
		    -webkit-transform: translate3d(0,0,0) !important;
		       -moz-transform: translate3d(0,0,0) !important;
	}

}

#bioonc .hero {
	background: #000018;
}

#bg-scroll, .hero ul {
	-webkit-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	   -moz-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	    -ms-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	     -o-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	        transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
	-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	    -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

.hero ul li {
	display: inline-block;
	float: left;
	left: auto !important;
}

.blog .hero {
	background: none;
}

.blog .hero img {

}

.blog .hero h1 {
	position: absolute;
	z-index: 9999;
}

.blog.san-fransisco .hero h1 {
	font-family: 'ProvaRegular';
	font-size: 3.5em;
	color: #fff;
	bottom: 20.5%;
	right: 4.7%;
}

.blog.ios-drawer .hero h1 {
	font-size: 3.5em;
	top: 20.5%;
	left: 4.7%;
	width: 30%;
}

.blog.responsive-tables .hero {
	background: #00b4e2;
}

.blog.responsive-tables .hero {
	padding: 50px 0;
	height: 700px;
	min-height: 100%;

	h1 {
		color: #fff;
		font-family: "franklin-gothic-urw-cond";
		font-size: 7.5em;
		font-weight: 400;
		line-height: .9em;
		top: 3%;
		left: 3%;
		text-transform: uppercase;
		-webkit-transition: all 0.2s ease-in-out;
			 -moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
		     -o-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
		width: 50%;
	}

	img {
		float: right;
		max-height: 100%;
	}

	img + img {
		margin-right: 30px;
	}

	#cinema-wireframe {
		      	transform: translate3d(400px,0,0);
		-webkit-transform: translate3d(400px,0,0);
		   -moz-transform: translate3d(400px,0,0);
	-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
	}

	#ipad-wireframe {
			      	transform: translate3d(800px,0,0);
			-webkit-transform: translate3d(800px,0,0);
			   -moz-transform: translate3d(800px,0,0);
	-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 200ms; 
	   -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 200ms; 
	    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 200ms; 
	     -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 200ms; 
	        transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 200ms; /* easeOutQuint */
-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
		right: 435px;
	}

	#iphone-wireframe {
			      	transform: translate3d(1000px,0,0);
			-webkit-transform: translate3d(1000px,0,0);
			   -moz-transform: translate3d(1000px,0,0);
	-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 400ms; 
	   -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 400ms; 
	    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 400ms; 
	     -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 400ms; 
	        transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 400ms; /* easeOutQuint */
-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
        transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
		right: 720px;
	}

}

.ready.blog.responsive-tables .hero {
	#cinema-wireframe {
		      	transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		   -moz-transform: translate3d(0,0,0);
	}

	#ipad-wireframe {
			      	transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			   -moz-transform: translate3d(0,0,0);
	}

	#iphone-wireframe {
			      	transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			   -moz-transform: translate3d(0,0,0);
	}
}

.blog .hero .iphone {
	top: 20.5%;
	left: 4.7%;
	position: absolute;
	width: auto;
	z-index: 9999;
}

.blog .hero #iphone-1 {

}

.blog .hero #iphone-2 {
	top: 10%;
	left: 30%;
}

#grams .hero {
	background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.8) 100%), url(../img/grams.jpg); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.8))), url(../img/grams.jpg); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.8) 100%), url(../img/grams.jpg); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.8) 100%), url(../img/grams.jpg); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.8) 100%), url(../img/grams.jpg); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.8) 100%),url(../img/grams.jpg); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */
	-webkit-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	   -moz-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	    -ms-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	     -o-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	        transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
	-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	    -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

#grams .hero:hover {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 100%), url(../img/grams.jpg); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.6))), url(../img/grams.jpg); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 100%), url(../img/grams.jpg); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 100%), url(../img/grams.jpg); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 100%), url(../img/grams.jpg); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 100%), url(../img/grams.jpg); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#99ffffff',GradientType=0 ); /* IE6-9 */
}

a.button {
	color: 666666;
	background: #F4F4F4;
	display: block;
	padding: 7%;
	color: #666;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	border: 1px solid #EDEDED;
	border-radius: 3px;
	text-shadow: 1px 0 1px #fff, inset 1px 0 1px rgba(0,0,0,.1);
		-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	    -ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
	        text-decoration: none;
}

a.button:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.05);
	   -moz-box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.05);
	        box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.05); /* inset offset-x offset-y blur spread color */
	
}

.hero-nav {
	border: 0;
	display: inline-block;
	height: 100%;
	position: absolute;
	opacity: 0;
	-webkit-transition: all 400ms ease-in-out;
	   -moz-transition: all 400ms ease-in-out;
	    -ms-transition: all 400ms ease-in-out;
	     -o-transition: all 400ms ease-in-out;
	        transition: all 400ms ease-in-out;
	top: 0;
	width: 10%;
	z-index: 9999;
}

.hero:hover .hero-nav {
	opacity: .8;
}

.hero-nav.hero-prev {
	background: -moz-linear-gradient(left, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C */
	left: 0;
}

.hero-nav.hero-prev:hover {
	opacity: 1;
}

.hero-nav:after {
	border-bottom: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
	content: '';
	display: inline-block;
	text-indent: -9999px;
	height: 50px;
	left: 25px;
	margin-top: -25px;
	top: 50%;
	position: absolute;
	-webkit-transform: rotate(135deg);
		 -moz-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			 -o-transform: rotate(135deg);
					transform: rotate(135deg);
	width: 50px;
}

.hero-nav.hero-next {
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=1 ); /* IE6-9 */
	right: 0;
}

.hero-nav.hero-next:hover {
	opacity: 1;
}

.hero-nav.hero-next:after {
	left: auto;
	right: 25px;
	-webkit-transform: rotate(-45deg);
		 -moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			 -o-transform: rotate(-45deg);
					transform: rotate(-45deg);
}

.hero .hero-image {
	position: absolute;
}

#bose li {
	width: 940px;
}

#bose-1-1 {
	width: 100%;
}

#bose-1-2 {
	left: 88%;
	top: 28%;
	width: 20%;
}

	.counter {
		float: right;
		list-style: none;
		margin: 0;

		li {
			float: left;
			margin: 0 20px 0 0;
			padding: 0 20px 0 0;
			position: relative;

			button {
				background: none;
				border: 0;
				color: #353535;
				font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
				font-size: 2em;
				font-weight: 200;
				-webkit-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				   -moz-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				    -ms-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				     -o-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				        transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
				-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				    -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
				        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
			}

			a:hover {
				text-decoration: line-through;
			}
		}

		li:first-child:after {
			border-right: 1px solid #d6d6d6;
			content: "";
			display: block;
			height: 50px;
			font-size: 36px;
			margin: 0 0 20px 0;
			-webkit-transform: rotate(25deg);
			   -moz-transform: rotate(25deg);
			    -ms-transform: rotate(25deg);
			     -o-transform: rotate(25deg);
			        transform: rotate(25deg);
			position: absolute;
			right: 0;
			top: -15px;
		}

		li:last-child {
			margin: 0;
			padding: 0;
		}
	}

	#bose .hero {
		background: rgb(233,252,252); /* Old browsers */
		background: -moz-radial-gradient(center, circle cover, rgba(233,252,252,1) 0%, rgba(0,157,213,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(233,252,252,1)), color-stop(100%,rgba(0,157,213,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, circle cover, rgba(233,252,252,1) 0%,rgba(0,157,213,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, circle cover, rgba(233,252,252,1) 0%,rgba(0,157,213,1) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, circle cover, rgba(233,252,252,1) 0%,rgba(0,157,213,1) 100%); /* IE10+ */
		background: radial-gradient(center, circle cover, rgba(233,252,252,1) 0%,rgba(0,157,213,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9fcfc', endColorstr='#009dd5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.blog-nav {
		border-bottom: 1px solid #D6D6D6;
		border-right: 1px solid #D6D6D6;
		display: inline-block;
		text-indent: -9999px;
		height: 50px;
		position: absolute;
		-webkit-transform: rotate(135deg);
			 -moz-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				 -o-transform: rotate(135deg);
						transform: rotate(135deg);
		width: 50px;
	}

	.blog-nav#prev {
		left: 2.5%;
	}

	.blog-nav#next {
		right: 2.5%;
		-webkit-transform: rotate(-45deg);
			 -moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				 -o-transform: rotate(-45deg);
						transform: rotate(-45deg);
	}

@-webkit-keyframes headlineEase {
  0% { opacity: 0; -webkit-transform: translateY(-25px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-moz-keyframes headlineEase {
  0% { opacity: 0; -moz-transform: translateY(-25px); }
  100% { opacity: 1; -moz-transform: translateY(0); }
}

@-ms-keyframes headlineEase {
  0% { opacity: 0; -ms-transform: translateY(-25px); }
  100% { opacity: 1; -ms-transform: translateY(0); }
}

@-o-keyframes headlineEase {
  0% { opacity: 0; -o-transform: translateY(-25px); }
  100% { opacity: 1; -o-transform: translateY(0); }
}

@keyframes headlineEase {
  0% { opacity: 0; transform: translateY(-25px); }
  100% { opacity: 1; transform: translateY(0); }
}

#gallery-1 {
  width: 50%;
  margin: 24px 25% 66px;
  color: #FFF;
}
.visibleNearby {
  width: 100%;
  overflow: hidden;
}
.visibleNearby .rsGCaption {
  margin-top: 12px;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 16px;
}
.visibleNearby .rsGCaption span {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 14px;
  line-height: 22px;
}
.visibleNearby .rsOverflow,
.visibleNearby .rsSlide {
  background: none;
}
.visibleNearby .rsOverflow {
  overflow: visible;
}


/* Scaling transforms */
.visibleNearby .rsSlide img {
  opacity: 0.45;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  -webkit-transform: scale(0.9);  
  -moz-transform: scale(0.9); 
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.visibleNearby .rsActiveSlide img {
  opacity: 1;
  -webkit-transform: scale(1);  
  -moz-transform: scale(1); 
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Non-linear resizing on smaller screens */
@media screen and (min-width: 0px) and (max-width: 900px) { 
   #gallery-1 {
    width: 62%;
    margin-left: 19%;
    padding: 12px 0 12px;
    color: #FFF;
  }
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 400px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    height: 300px !important;
  }
}


@media (max-width: 1040px) {
	#bose li {
		width: 90%;
	}
}

@media (max-width: 1024px) {
	.hero {
		height: 400px;
	}

	.blog.responsive-tables .hero {
		height: 400px;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}

	#header {
		background: #2C2C2C;
		    -webkit-box-sizing: border-box;
		       -moz-box-sizing: border-box;
		            box-sizing: border-box;
		height: 50px;
		padding: 5px 15px;

		#logo {
			position: absolute;
			z-index: 100;

			a {
				background-size: 50px 50px;
				height: 50px;
				width: 50px;
			}
		}

		nav {
			margin-top: 9px;

			ul li:first-child::after {
				height: 30px;
				top: -5px;
			}

			ul li a {
				color: #fff;
			}
		}
	}

	.row {
		margin-left: 20px;
		margin-right: 20px;

		img {
			width: 100%;
		}
	}

	.hero {
		height: 150px;
		margin-top: 0;
		margin-bottom: 15px;
	}

	.blog.responsive-tables .hero {
		height: 150px;
		margin-bottom: 15px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
  
  #header {

	#logo {

		a {
			background: url(../img/connormcsheffrey@2x.png);
			background-size: 100px 100px;
		}
	}
}

}


.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}